* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #083b4c;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: white;
    margin-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container {
    width: 100%;
    max-width: 900px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 100px;
    height: 100px;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.Fizz {
    
    background-color:#0bd6a1 ;
    
}

.Buzz {
  
    background-color:#ffd166 ;

}

.FizzBuzz {
   
    background-color:#f0466f ;
    
}

.none {
    background-color: #0180a8;

}